<div class="news_content">
  <h1>Редактирование новости</h1>

  <%= form_for @listing do |form| %>
    <%= render partial: 'listings/form', object: form %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="submit_button">
      <%= form.submit "Редактировать" %>
    </div>
  <% end %>
  <div class='separator'></div>
</div>

<script> $(function() { $('textarea').froalaEditor() }); </script>
