Привет <%= @user.full_name %>.

Спасибо за регистрацию! Что бы подтвердить регистрацию, нажмите на ссылку что ниже:<br>
<a href='<%= "http://www.forgottenbygod.ru/users/#{@user.confirm_token}/confirm_email" %>'>Подтверждаю свою почту</a>
