<div class="news_content">

  <h1>
    Изменить состав
  </h1>
  <% if logged_in? && current_user.admin? || current_user.superadmin? %>
    <% i = 1 %>
    <div class='one_clan_member_admining'>
      <div class='one_clan_member_top' >№</div>
      <div class='one_clan_member_top' >Ник</div>
      <div class='one_clan_member_top' >Действие</div>
      <% @clan_members.each do |clan_member| %>

          <div class='one_clan_member_content' ><%= i %></div>
          <div class='one_clan_member_content' ><%= link_to clan_member.nick_name, clan_member.player_link %></div>
          <div class="submit_button one_clan_member_content">
            <button><%= link_to "Изменить", edit_clan_member_path(clan_member) %></button>
            <button><%= link_to "Удалить", clan_member_path(clan_member), method: :delete %></button>
          </div>

        <% i += 1 %>
      <% end %>
    </div>
  <% else %>
    <p>У вас нет прав редактировать состав!</p>
  <% end %>
  <div class='separator'></div>

</div>
