<div class="news_content">
  <h1>Изменения данных игрока</h1>

  <%= form_for @clan_member do |form| %>
    <%= render partial: 'clan_members/form', object: form %>
    <div class="submit_button">
      <%= form.submit "Добавить" %>
    </div>
  <% end %>
  <div class='separator'></div>
</div>
