<div class="forum_group_top">
  <div><p>Название</p></div>
  <div><p>Тем</p></div>
  <div><p>Просмотров</p></div>
  <div><p>Последний топик</p></div>
</div>

<div class="forum_group">
  <div class="forum_group_name">
    ДЛЯ ВСЕХ
  </div>
  <div class="forum_theme">
    <div class="forum_theme_part">
    </div>
    <div class="forum_theme_part">
    </div>
    <div class="forum_theme_part">
    </div>
    <div class="forum_theme_part">
    </div>
  </div>
</div>

<div class="forum_group">
  <div class="forum_group_name">
    ПЯТЫЙ ЧЕМПИОНАТ АРЕНЫ
  </div>
</div>

<div class="forum_group">
  <div class="forum_group_name">
    КЛАНОВЫЙ РАЗДЕЛ
  </div>
</div>

<div class="forum_group">
  <div class="forum_group_name">
    ТУРНИР РАВНЫХ
  </div>
</div>

<div class="forum_group">
  <div class="forum_group_name">
    БОЕВОЙ РАЗДЕЛ
  </div>
</div>

<div class="forum_group last">
  <div class="forum_group_name">
    СОВЕТ
  </div>
</div>
