<div class="forum_group no_rights">
  <h3>Добрый день!</h3>
  <p>У вас нет прав на просмотр данной темы!</p>
  <p>Что бы увидеть содержимое, необходимо <%= link_to "вступить", topic_path(14) %> в клан xD</p>
  <p>Если вы уже в клане, обратитесь к Главе</p>
</div>
