<div class="forum_group no_rights">
  <h3>Добрый день!</h3>
  <p>Что бы увидеть содержимое, необходимо <%= link_to "зайти", root_path %> на сайт!</p>
  <p>Либо <%= link_to "зарегистрироваться", new_user_path %>! </p>
</div>
