<div class="news_content">
  <h1>Страница восстановления пароля</h1>
  <%= form_for @user do |f| %>

    <div class="reset_password_form">
      <%= f.label "Введите новый пароль: " %>
      <%= f.password_field :password %>
    </div>
    <div class="submit_button">
      <%= submit_tag "Обновить" %>
    </div>
  <% end %>
  <div class='separator'></div>
</div>
