<div class="news_content">
  <p>На вашу почту будет отправленна повторное письмо для подтверждения регистрации.</p>
  <%= form_tag('/email_for_new_password') do -%>
    <div class="reset_password_form">
      <%= label_tag "Введите почту: " %>
      <%= email_field_tag :email %>
    </div>
    <div class="submit_button">
      <%= submit_tag "Отправить" %>
    </div>
  <% end -%>
  <div class='separator'></div>
</div>
