<div class="news_content">
  <h1>Общие положения: </h1>
  <ol>
    <li><h4>Клан подчиняется настоящим законам Арены.</h4></li>
    <li>
      <h4>Власть в Гильдии:</h4>
      Клан «Забытые Богом» управляется Главой и Советом Клана.
    </li>
    <li>
      <h4>Глава клана:</h4>
      Глава клана, в соответствии с законами Арены, является выборной должностью.
    </li>
    <li>
      <h4>Полномочия Главы:</h4>
      <ul>
        <li>Глава является представителем Клана в военной политике.</li>
        <li>Глава может выставлять кандидатуры на различные должности в Клане.</li>
        <li>Глава имеет право Veto на решения Совета.</li>
        <li>В Совете Клана Глава имеет два совещательных голоса.</li>
        <li>Глава имеет право избрать из членов Клана Зам Главу.</li>
        <li>Глава имеет право избрать из членов Клана «Хранителя ценностей» (казначея Клана), по умолчанию им является Глава.</li>
      </ul>
    </li>
    <li>
      <h4>Полномочия Зам Главы:</h4>
      Зам Главы замещает Главу клана в его отсутствие. Он обладает всеми полномочиями Главы, указанными в п.3 настоящего Устава. Зам Главы имеет в отсутствие Главы 3 совещательных голоса в Совете (2 Главы+1 собственный), в присутствии Главы, Зам Главы обладает одним совещательным голосом.
    </li>
    <li>
      <h4>Полномочия «Хранителя ценностей»:</h4>
      «Хранителя ценностей» является казначеем Клана и отвечает за денежные средства Клана. В Совете «Хранителя ценностей» имеет один совещательный голос.
    </li>
    <li>
      <h4>Совет:</h4>
      Совет Клана – Высший Законодательный орган Клана.
    </li>
    <li>
      <h4>Состав Совета Клана:</h4>
      <ul>
        <li>Глава клана – два совещательных голоса.</li>
        <li>Зам Главы – один совещательный голос.</li>
        <li>Главы Отделов – один совещательный голос (у каждого).</li>
        <li>«Хранитель ценностей» – один совещательный голос.</li>
      </ul>
    </li>
    <li>
      <h4>Полномочия Совета Клана:</h4>
      Совет Клана, являясь Высшим органом законодательной Власти в Клане, обладает следующими полномочиями:
      <ul>
        <li>Назначение на должность Глав Отделов (не мене 2/3 голосов совета).</li>
        <li>Объявление войны/заключение мира/союза с кланами (строго единогласно).</li>
        <li>Принятия решений, регулирующих жизнь Клана.</li>
      </ul>
    </li>
    <li>
      <h4>Отделы Клана:</h4>
      <ul>
        <li>Отдел Дипломатии.</li>
        <li>Административный отдел.</li>
        <li>Отдел журналистики.</li>
        <li>Военный отдел.</li>
        <li>Рекламный отдел.</li>
      </ul>
    </li>
    <li>
      <h4>Полномочия Глав отдела:</h4>
      <ul>
        <li>Главы Отдела регулируют работу своего отдела.</li>
        <li>Они являются членами Совета Клана и имеют один совещательный голос в Совете.</li>
        <li>Главы Отделов могут вносить предложения на рассмотрение Советом Клана.</li>
      </ul>
    </li>
    <li>
      <h4>Члены отделов:</h4>
      Членами отделов являются люди, работающие в том или ином отделе Клана.
    </li>
    <li>
      <h4>Полномочия членов отделов:</h4>
      <ul>
        <li>Право Вотума недоверия Главы Отдела (не менее 2/3 членов отдела)</li>
      </ul>
    </li>
  </ol>
  <h1>Особая часть:</h1>
  <ol>
    <li>
      <h4>Ответственность Членов Гильдии:</h4>
      Члены Гильдии вне зависимости от занимаемого поста несут ответственность за нарушение Законов Арены и Особой части настоящего устава.
    </li>
    <li>
      <h4>Запреты:</h4>
      Данные запреты касаются всех, без ИСКЛЮЧЕНИЯ членов Клана.
      <ul>
        <li>Участие в групповых и расовых боях против членов Гильдии. А так же вмешательство в бой против членов гильдии.</li>
        <li>Оскорбление словом/действием члена Клана.</li>
        <li>Неподчинение Уставу Клана.</li>
      </ul>
    </li>
    <li>
      <h4>Обязанности:</h4>
      Все члены Клана обязуются:
      <ul>
        <li>Принимать активное участие в жизни Клана.</li>
        <li>Помогать сокланам.</li>
        <li><Следовать Уставу Клана.</li>
      </ul>
    </li>
    <li>
      <h4>Изгнание из Клана:</h4>
      Член Клана навсегда изгоняется в следующих случаях:
      <ul>
        <li>Неоднократное нарушение Устава.</li>
        <li>Разглашение конфиденциальной информации, связанной с Кланом.</li>
      </ul>
    </li>
    <li>
      <h4>Вступление в Клан:</h4>
      В Клан может вступить житель Арены, достигший 10-го уровня и прошедший собеседование с членом Совета.
    </li>
    <li>
      <h4>Уход из Клана:</h4>
      Член Клана может добровольно уйти, для этого ему необходимо:
      <ul>
        <li>Отписаться на форуме в разделе «Уход из Клана», где высказывается желание об уходе и причина ухода.</li>
      </ul>
    </li>
  </ol>
  <h1>Заключительные положения:</h1>
  <p>Данный устав принимается Советом клана. Устав может быть изменен строго в соответствии с законом Арены. Все изменения не имеют Юридической Силы до опубликования на Форуме Клана.<br>
Данный Устав полностью соответствует Законам Арены.</p>
  <div class='separator'></div>
</div>
