<% 10.times do %>
  <div class="news_content">

    <h1>Набор в клан</h1>

    <p>
      Клан  Забытые Богом объявляет о наборе амбициозных и идейных игроков в свои ряды! Наш Клан строит далекоидущие планы на Чемпионат и Турнир Равных. Дружный и сплочённый коллектив, поддержка и развитие персонажа. Условия вступления можно обсудить с Главой Клана — <a href="http://kovcheg.apeha.ru/info.html?user=200848712">-Легион-</a> или Замом — <a href="http://kovcheg.apeha.ru/info.html?nick=volante">Volante</a>.
    </p>

    <div class='news_footer'>
      <div class='author'>
        <p class='news_footer_content'>Опубликовал:</p>
        <p class='news_footer_content'><a href="http://kovcheg.apeha.ru/info.html?user=200848712">-Легион-</a> </p>
      </div>
      <div class='comment'>
        <p class='news_footer_content'>Коментариев:</p>
        <p class='news_footer_content count'>2</p>
      </div>
      <div class='views'>
        <p class='news_footer_content'>Просмотров:</p>
        <p class='news_footer_content count'>22</p>
      </div>
    </div>

    <div class='separator'></div>

  </div>
<% end %>
