<div class="news_content">
  <h1>Условия вступления:</h1>
  <ol>
    <li>
      Зарегистрироваться на сайте.<br>
      Обязательно использовать ник для регистрации, используемый на Арене.
    </li>
    <li>
      Уровень вашего игрового персонажа не должен быть ниже 10-го.
    </li>
    <li>
      Требуется профессия официального наемника турнира или покупка ее в течении месяца после вступления. (Возможны исключения)
    </li>
    <li>
      Связаться с Руководством клана (Глава, Зам. главы., советник)
    </li>
    <li>
      В случае удачного прохождения проверки на чистоту вы принимаетесь в клан и зачисляетесь в состав.
    </li>
  </ol>

  <p>
    <b><span class="red">ВАЖНО!!!</span></b><br>
    Для вступления в клан вам необходимо иметь 105 (обычных или синих) соток на счету вашего персонажа.
  </p>

  <p>
    <b><span class="red">ВАЖНО!!!</span></b><br>
    Каждый вступивший в клан, обязуется ежемесячно платить синий налог в размере<span class="blue"> 20 синих соток</span> в казну клана.<br>
    Возможны исключения, после собеседования с руководством клана.
  </p>

  <h1>Мы предлагаем:</h1>
  <ul>
    <li>Отстроенный замок в городе Ковчег.</li>
    <li>В тронном зале восстановление жизни и маны происходит в 2 раза быстрее.</li>
    <li>В лечебнице все травмы, включая смертельную и кровавую, проходят в 4 раза быстрее.</li>
    <li>Потолок опыта <span class="red">50.000</span>.</li>
    <li><span class="red">+25%</span> к опыту, бонус от прошлого чемпионата!</li>
    <li>Замок в городе Среднеморье. (Бесплатный неограниченный телепорт из Ковчега и обратно)</li>
    <li>Журналистам стабильную заработную плату.</li>
  </ul>

  <div class='separator'></div>
</div>


